/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  color: yellow;
}

#outer-box{
  border: solid purple;
  border-width: 15px;
}

.inner-box{
  background-color: red;
}

.white-text{
  color:white;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}