.hero {
  background-image: url("./vecteezy_abstract-wave-element-on-gray-background-with-modern_.jpg");
  background-size: cover; /* Pour couvrir toute la surface de la page */
  background-position: center; /* Positionner l'image au centre */
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-profil {
  border-radius: 47.5%;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}
